resources:
  jobs:
    {{ pipeline_name }}_workflow:
      name: {{ pipeline_name }}_workflow
      environments:
        - environment_key: lhp_env
          spec:
            environment_version: "2"
            dependencies:
              - {{ lhp_whl_path }}
      tasks:
{% for task in extraction_tasks %}
        - task_key: {{ task.task_name }}
          environment_key: lhp_env
          notebook_task:
            notebook_path: {{ task.notebook_path }}
{% endfor %}
        - task_key: {{ dlt_task_name }}
          pipeline_task:
            pipeline_id: {{ dlt_pipeline_ref }}
          depends_on:
{% for task_name in extraction_task_names %}
            - task_key: {{ task_name }}
{% endfor %}
